@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --orange:#EFD915;
}

*{
   
    margin:0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
     outline: none;
    text-decoration: none;
}

*::selection{
    background:var(--orange);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #000;
}

.btn{
    cursor: pointer;
    border:.2rem solid var(--orange);
    color: #000;
    background: var(--orange);
    padding:.5rem 3rem;
    margin-top: 1rem;
    position: relative;
    z-index: 0;
    font-size: 2rem;
      font-family: "Space Grotesk", sans-serif;
      border-radius: 10px;

}

.btn::before{
    content: '';
    position: absolute;
    top:0; left: 0;
    height:100%;
    width:100%;
    background:var(--orange);
    z-index: -1;
    clip-path: circle(0% at 0% 0%);
    transition: .3s;
}

 

.btn:hover{
    color:#fff;
    background-color: #000;
}

.heading{
    display: inline-block;
    color:#fff;
    margin:2rem 0;
    padding:1rem 0;
    padding-top: 8rem;
    font-size: 4rem;
    border-bottom: .2rem solid var(--orange);
     font-family: "Orbitron", sans-serif;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top:0; left: 0;
    z-index: 1000;
    padding:2rem 3rem;
      font-family: "Space Grotesk", sans-serif;

}

header .logo img{
   height: 10vh;
}

header .logo span{
    color:var(--orange);
}

header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

header .navbar ul li{
    margin:0 1rem;
}

header .navbar ul li a{
    color:gainsboro;
    font-size: 1.8rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:var(--orange);
}

header #menu{
    font-size: 3rem;
    color:var(--orange);
    cursor: pointer;
    display: none;
}

header.header-active{
    background:transparent;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header.header-active .logo,
header.header-active .navbar a{
    color:#333;
}

.home .content {
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../images/hero.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%) ;
 }

 

.home .content h1 {
    font-size: 6rem;
    color:#fff;
    text-align: center;
    text-shadow: 0 .3rem .5rem #000;
    padding:0 1rem;
    text-transform: uppercase;
     font-family: "Orbitron", sans-serif;
}

.home .content p {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin:1rem;
    padding:1rem 0;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
  



}

.home .content .btn{
    box-shadow: 0 .3rem .5rem #000;
    color:#000;
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.home .content .btn:hover {
     background-color: #000;
     color: #fff;
}

.btn-wsp {
    position: fixed;
    width: 75px;
    height: 72px;
    line-height: 75px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 45px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}


.sobre-nosotros .row{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8rem;
    background-color: #000;
}

.sobre-nosotros .row .image{
    flex: 1 1 40rem;
    padding:2rem;
}

.sobre-nosotros .row .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.sobre-nosotros .row .content{
    flex: 1 1 40rem;
    padding:2rem;
}

.sobre-nosotros .row .content h1{
    color:#fff;
    font-size: 4rem;
     font-family: "Orbitron", sans-serif;
}

.sobre-nosotros .row .content p{
    color:#fff;
    font-size: 2rem;
    padding:1rem 0;
      font-family: "Space Grotesk", sans-serif;

}

.compramos {
    min-height: 100vh;
    text-align: center;
}

.compramos .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.compramos .box-container .box{
    height:23rem;
    width:35rem;
    margin:1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.compramos .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.compramos .box-container .box .info{
    height:90%;
    width:90%;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%) scale(0);
    background:#000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
     font-family: "Orbitron", sans-serif;
}

.compramos .box-container .box:hover .info{
    transform: translate(-50%, -50%) scale(1);
}

.compramos .box-container .box .info h1{
    font-size: 2.5rem;
    color:#fff;
}

.compramos .box-container .box .info p{
    font-size: 1.2rem;
    color:#fff;
    padding:1rem 2rem;
}

 



.compramos .row{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8rem;
    background-color: #000;
}

.compramos .row .image{
    flex: 1 1 40rem;
    padding:2rem;
}

.compramos .row .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.compramos .row .content{
    flex: 1 1 40rem;
    padding:2rem;
}

.compramos .row .content h1{
    color:#fff;
    font-size: 4rem;
     font-family: "Orbitron", sans-serif;
}

.compramos .row .content p{
    color:#fff;
    font-size: 2rem;
    padding:1rem 0;
      font-family: "Space Grotesk", sans-serif;

}













.contacto {
    min-height: 80vh;
    text-align: center;
    background:#000;
}

.contacto .heading {
    color: #fff;
     font-family: "Orbitron", sans-serif;
}

.contacto .box-container{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contacto .box-container .box{
    background:#000;
    margin:2rem;
    width:30rem;
    border: solid 1px white;
    color: #fff;
    padding:20px 20px;
    border-radius: 20px;


}

.contacto .box-container .box:hover{
    transform: scale(1.04);
}

.contacto .box-container .box .title{
    font-size: 6rem;
    background-color: #000;
    color: #F0DD35;
    padding:1rem 0;
    font-family: "Orbitron", sans-serif;
}

.contacto .box-container .box .price{
    font-size: 2rem;
        color: #fff;
        padding-top:2rem;
        font-family: "Space Grotesk", sans-serif;

}

.contacto .box-container .box .price span{
    font-size: 2rem;
}

.contacto .box-container .box .month{
    font-size: 2rem;
        color: #fff;

    font-family: "Orbitron", sans-serif;

}

.contacto .box-container .box ul{
    margin:2rem 8rem;
    list-style: none;
    font-family: "Orbitron", sans-serif;
}

.contacto .box-container .box ul li{
    text-align: left;
    padding:.5rem 0;
    font-size: 1.5rem;
       color: #fff;

}

.contacto .box-container .box ul li i{
    color:var(--orange);
    padding:0 .5rem;
}

.contacto .box-container .box .btn{
    margin-bottom: 3rem;
    font-family: "Space Grotesk", sans-serif;

}

 

.footer{
    color:#eee;
    background:#111;
    text-align: center;
    padding:2rem 1rem;
      font-family: "Space Grotesk", sans-serif;
      

}

.footer h2 {
    font-size: 2rem ;
}
.footer a{
    color:var(--orange);
          font-family: "Space Grotesk", sans-serif;

}

.footer a:hover{
    color:#fff;
}














/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:-100rem; left: 0;
        width: 100%;
        opacity: 0;
        background:#000;
        border-top: .1rem solid rgba(0,0,0,.3);
        color: #EFD915;
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
    }

    header .navbar ul li{
        margin:1rem 0;
        text-align: center;
        width: 100%;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        color: #fff;
        display: block;
    }

    header .navbar.nav-toggle{
        top:12rem;
        opacity: 1;
    }

    

}


@media (max-width:500px){

    html{
        font-size: 50%;
    }

    .home h1{
        font-size: 5rem;
    }

    .register form .inputBox input{
        width:100%;
    }

}